body {font-family: courier;color: greenyellow; background-color: grey; padding: 10px;
}

#container{
    background-color: black;
        width: 800px;
    margin-left: auto;
        margin-right: auto;
    padding: 15px;
            
}

#content {
    padding: 10px;
}
#nav {text-align: center; color: black;
    border: dotted;
    border padding: 15px;
    
    background-color: greenyellow;
        width: 100px;
    padding: 10px;
    float: left;

}
#nav ul {
    list-style-type: none;
    padding: 0px;
}
#nav li { 
border: dotted;
padding: 5px;}
#mainheader
{
   
    width: 600px;
    float: right;
}

#footer{
    padding: 15px;
    clear:both
    ;
}
#nav h3 {
    font-style: italic;
    color: black;
}
#header {text-align: center; padding: 10px;}
